# Auto detect text files and perform LF normalization
* text=auto

# Force these files to be CRLF (Windows)
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force these files to have LF line endings
*.sh text eol=lf
*.tf text eol=lf
*.tfvars text eol=lf
*.hcl text eol=lf
*.tfstate* binary
*.tfplan binary
*.tfstate.* binary
